@import '~@angular/material/theming';
@include mat-core();

$md-black: (
    50 : #e6e6e8,
    100 : #bfc0c6,
    200 : #9596a1,
    300 : #6b6c7b,
    400 : #4b4d5e,
    500 : #2b2d42,
    600 : #26283c,
    700 : #202233,
    800 : #1a1c2b,
    900 : #10111d,
    A100 : #6161ff,
    A200 : #2e2eff,
    A400 : #0000fa,
    A700 : #0000e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-grey: (
    50 : #f1f3f5,
    100 : #dde0e7,
    200 : #c6ccd7,
    300 : #afb8c6,
    400 : #9ea8ba,
    500 : #8d99ae,
    600 : #8591a7,
    700 : #7a869d,
    800 : #707c94,
    900 : #5d6b84,
    A100 : #f2f7ff,
    A200 : #bfd5ff,
    A400 : #8cb3ff,
    A700 : #73a3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-light: (
    50 : #fdfdfe,
    100 : #fafbfc,
    200 : #f6f9fa,
    300 : #f2f6f7,
    400 : #f0f4f6,
    500 : #edf2f4,
    600 : #ebf0f3,
    700 : #e8eef1,
    800 : #e5ecef,
    900 : #e0e8ec,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-red: (
    50 : #fae1e5,
    100 : #f4b4bf,
    200 : #ec8294,
    300 : #e44f69,
    400 : #df2a49,
    500 : #d90429,
    600 : #d50324,
    700 : #cf031f,
    800 : #ca0219,
    900 : #c0010f,
    A100 : #ffe9ea,
    A200 : #ffb6b8,
    A400 : #ff8387,
    A700 : #ff696e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// $my-custom-primary: mat-palette($md-light);
// $my-custom-accent: mat-palette($md-red, 100, 500, A100);
// $my-custom-warn: mat-palette($mat-lime);


$dark-primary: mat-palette($md-light);
$dark-accent:  mat-palette($md-light);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// @include angular-material-theme($dark-theme);
// $title: mat-typography-level(28px, 44px, 600),
//     $subheading-1: mat-typography-level(20px, 32px, 600),
//     $subheading-2: mat-typography-level(24px, 36px, 600),
//     $body-1: mat-typography-level(16px, 24px, 400),
//     $body-2: mat-typography-level(16px, 24px, 600),
//     $caption: mat-typography-level(12px, 16px, 400),
//     $button: mat-typography-level(1rem, 3rem, 500),
//     $headline: mat-typography-level(32px, 48px, 700),

$custom-typography: mat-typography-config(
    $font-family: 'Poppins, sans-serif',
    
    
    );

@include angular-material-typography($custom-typography);


// custom component styles

.mat-tab-header {
    border-bottom: transparent;
    max-width: 420px;
    margin: 0 auto;
}